@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.pic-title{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
*{
  background-color: black;
  color: white;
}
.input {
  background-color: #292929;
  color: #7c7c7c;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
}

.input-error {
  border-color: red;
}


